<a class="btn social icon facebook icon-facebook" target="_blank" rel="noopener" href="{$plugin:widcard:BizFbAccount:notag}">Facebook</a>
<a class="btn social icon twitter icon-twitter" target="_blank" rel="noopener" href="{$plugin:widcard:BizTwitterAccount:notag}">Twitter</a>
<a class="btn social icon linkedin icon-linkedin" target="_blank" rel="noopener" href="{$plugin:widcard:BizLinkedInAccount:notag}">LinkedIn</a>
<a class="btn social icon instagram icon-instagram" target="_blank" rel="noopener" href="{$plugin:widcard:BizInstagramAccount:notag}">Instagram</a>
<a class="btn social icon gbusiness icon-gbusiness" target="_blank" rel="noopener" href="{$plugin:widcard:BizGmbusiness:notag}">Gbusiness</a>
<a class="btn social icon youtube icon-youtube" target="_blank" rel="noopener" href="{$plugin:widcard:BizYoutubeChannel:notag}">YouTube</a>
<a class="btn social icon vimeo icon-vimeo" target="_blank" rel="noopener" href="{$plugin:widcard:BizVimeoChannel:notag}">Vimeo</a>
<a class="btn social icon yelp icon-yelp" target="_blank" rel="noopener" href="{$plugin:widcard:BizYelp:notag}">Yelp</a>
<a class="btn social icon feed icon-feed" target="_blank" href="{$plugin:widcard:BizRssChannel:notag}">RSS</a>
